<!-- <div class="container">
    <h2>Reset Password</h2>
  
    <form [formGroup]="form">
      <div *ngIf="step === 1">x
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" required>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="sendOtp()">Send OTP</button>
      </div>

      <div *ngIf="step === 2">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>OTP</mat-label>
          <input matInput formControlName="otp" type="text" required>
        </mat-form-field>
  
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>New Password</mat-label>
          <input matInput formControlName="newPassword" type="password" required>
        </mat-form-field>
  
        <button mat-raised-button color="primary" (click)="resetPassword()">Reset Password</button>
      </div>
    </form>
  </div>
   -->


   <div class="reset-password-container">
    <mat-card class="reset-card">
      <h2 class="text-center">Reset Password</h2>
  
      <form [formGroup]="form">
        <div *ngIf="step === 1">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Registered Email</mat-label>
            <input matInput formControlName="email" placeholder="Enter your email" />
          </mat-form-field>
  
          <button mat-raised-button color="primary" (click)="sendOtp()" class="full-width">
            Send OTP
          </button>
        </div>
  
        <div *ngIf="step === 2">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>OTP</mat-label>
            <input matInput formControlName="otp" placeholder="Enter OTP" />
          </mat-form-field>
  
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>New Password</mat-label>
            <input matInput type="password" formControlName="newPassword" placeholder="New password" />
          </mat-form-field>
  
          <button mat-raised-button color="primary" (click)="resetPassword()" class="full-width">
            Reset Password
          </button>
        </div>
        <mat-card-footer>
          <p class="footer-text">back to <a routerLink="/login">LogIn Page</a></p>
        </mat-card-footer>
      </form>
    </mat-card>
  </div>
  